# available python version: 3.7, 3.9 (3.11 only support torch v2.x)
# install from https://pytorch.org/get-started/locally/
# torch~=2.1.0
# torchvision~=0.16.0
librosa~=0.10.0
matplotlib~=3.8.0
opencv_python~=4.8.0
resampy~=0.4.0
tqdm~=4.66.0
numpy~=1.26.4
# for mac m1 without nvidia gpu, pip install with following torch versions for v5.0.3:
# for win/linux pip wheel install cuda gpu version, python3.7
# > pip install torch==1.13.1+cu116 torchvision==0.14.1+cu116 torchaudio==0.13.1 --extra-index-url https://download.pytorch.org/whl/cu116
# for mac m1/raspberry without nvidia gpu, pip install with following torch versions:
# torch==1.13.1
# torchvision==0.14.1
